/*Code.module.css*/
.rehypeCodeTitle {
  background-color: var(--color-app-primary);
  border-color: var(--color-app-secondary);
  @apply my-3 font-mono text-xs md:text-base border border-b-0 rounded-t-lg border-opacity-25 w-full md:max-w-4xl;
}


h1.rehype-code-title {
  color: var(--color-text-secondary);
  @apply font-mono text-sm md:text-base font-bold m-4;
}

.rehype-code-title + pre {
  background: var(--color-bg-terminal);
  color: var(--color-text-primary);
  @apply mt-0 rounded-t-none mx-5;
}