@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
  will-change: background, color, transition;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--color-text-secondary);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-scroll-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scroll-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-thumb-hover);
}

body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #FEEBC8;
  --color-bg-toggle: #1e90ff;
  --color-bg-terminal: #FEEBC8;
  --color-app-primary: #FBD38D;
  --color-app-secondary: #ED8936;
  --color-app-accent: #FAF089;

  --color-scroll-thumb: #ED8936;
  --color-scroll-track: #FBD38D;
  --color-scroll-thumb-hover: #FAF089;
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #15232d;
  --color-bg-toggle: #a9a9a9;
  --color-bg-terminal: #282A36;
  --color-app-primary: #4A5568;
  --color-app-secondary: #3182CE;
  --color-app-accent: #63B3ED;

  --color-scroll-thumb: #3182CE;
  --color-scroll-track: #4A5568;
  --color-scroll-thumb-hover: #63B3ED;
  
}


.rehype-code-title {
  background-color: var(--color-app-primary);
  border-color: var(--color-app-secondary);
  @apply max-w-full my-3 mx-auto font-mono text-xs sm:text-base border-2 border-solid rounded-t-lg border-opacity-25 rounded-b-lg sm:max-w-4xl;
}


.rehype-code-title h1 {
  color: var(--color-text-secondary);
  @apply font-mono text-sm sm:text-base font-bold m-4;
}

.rehype-code-title + pre {
  background: var(--color-bg-terminal);
  color: var(--color-text-primary);
  @apply mt-0 rounded-t-none mx-5;
}
